<a href="https://colab.research.google.com/github/taayshanilofar-beep/ict-assignment/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ASSIGNMENT 3

In [10]:
def maximum(a,b,c):
  if a>b and a>c:
    print (a,"is maximum")
  elif b>a and b>c:
      print (b,"is maximum")
  else:
      print (c,"is maximum")

a = int(input("enter a  first number"))
b = int(input("enter a second number"))
c = int(input("enter a third number"))
maximum(a,b,c)

enter a  first number67
enter a second number34
enter a third number25
67 is maximum

In [11]:
# question 2
# list =[18,12,30,10,7]
list =[18,12,30,10,7]
sum(list)

77

In [12]:
#question 3
list =[10,20,30,50]
list.insert(3,40)
list

[10, 20, 30, 40, 50]

In [14]:
#question 4
sample_dict ={"name":"kelly","age":24,"salary":8000,"city":"new york"}
sample_dict['location'] = sample_dict.pop('city')
print(sample_dict)

{'name': 'kelly', 'age': 24, 'salary': 8000, 'location': 'new york'}

In [15]:
#question 5
sample_dict ={
    'emp1':{'name':'jhon','salary':75000},
    'emp2':{'name':'emma','salary':8000},
    'emp3':{'name':'brad','salary':500}
}
sample_dict['emp3']['salary'] = 8500
sample_dict

{'emp1': {'name': 'jhon', 'salary': 75000},
 'emp2': {'name': 'emma', 'salary': 8000},
 'emp3': {'name': 'brad', 'salary': 8500}}

In [17]:
#question 6
tuple1 = (11,22,33,44,55,66)
new_tuple =tuple1[3:5]
print(new_tuple)

(44, 55)

In [18]:
#question 7
tuple1 = (50,10,60,70,50,83,567,50,81)
tuple1.count(50)

3